Repository carlocorradini/node_exporter_installer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, markdownlint

fix: format
  .github/FUNDING.yml
  .prettierignore
Due: none

docs: moved contributing section to readme
  CONTRIBUTING.md
  README.md
Due: prettier --write, markdownlint

fix: iptables command
  install.sh
Due: none

fix: newline typo
  install.sh
Due: none

refactor: command instead of type
  install.sh
Due: none

refactor: structure and configuration
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/BUG-REPORT.yml
  .github/ISSUE_TEMPLATE/FEATURE-REQUEST.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .npmrc
  .nvmrc
  .prettierignore
  .vscode/settings.json
  README.md
  package-lock.json
  package.json
Due: prettier --write, markdownlint

chore(dependabot): ignore patch update
  .github/dependabot.yml
Due: none

fix: kill all script init service
  install.sh
Due: none

Fix need absolute firewall path for CentOS 7
  install.sh
Due: none

Fix trailing slashes when not needed
  install.sh
Due: none

Make sure we log a fatal error for non zero exit code
  install.sh
Due: none

feat: error log message. Similar to fatal but does not exit
  install.sh
Due: none

Add missing _arg_count increase
  install.sh
Due: none

Fix typo
  install.sh
Due: none

Make requested changes
  install.sh
Due: none

docs: better readme docs
  README.md
  install.sh
Due: prettier --write, markdownlint

chore(license): license update
  LICENSE
Due: none

docs: readme update
  README.md
Due: prettier --write, markdownlint

chore(docs): fix prettier
  README.md
Due: prettier --write, markdownlint

Made requested changes for checking if service is running
  install.sh
Due: none

chore(fix): code style
  install.sh
Due: none

docs: use sh instead of console
  README.md
Due: prettier --write, markdownlint

Improve SELinux support
  install.sh
Due: none

chore(ci): avoid commoitlint fail ci on errors
  .github/workflows/ci.yml
Due: none

fix: check exit code directly
  install.sh
Due: none

chore(deps): update dependencies
  package-lock.json
  package.json
Due: prettier --write

Added upstart support
  install.sh
Due: none

Fixed typo
  install.sh
Due: none

feat: upstart and better project structure
  .commitlintrc
  .gitattributes
  .github/ISSUE_TEMPLATE/FEATURE-REQUEST.yml
  .github/dependabot.yml
  .github/stale.yml
  .github/workflows/check.yaml
  .github/workflows/ci.yml
  .github/workflows/license.yaml
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc
  .markdownlint.json
  .markdownlintignore
  .prettierrc
  .shellcheckrc
  .vscode/extensions.json
  .vscode/settings.json
  CONTRIBUTING.md
  README.md
  cspell.json
  install.sh
  package-lock.json
  package.json
Due: prettier --write, markdownlint

Path conditions:
  prettier --write: any of: *.{json,md}
  markdownlint: any of: *.md
